* {
	padding: 0; margin: 0; 
}

li {
	list-style: none;
}

body {
	background: #f6f9fc;
	font-family: arial;
}

.calendar {
	width:210px;
	background:#eae9e9;
	margin:50px auto 0;
	padding:10px
}

.calendar ul{
	width:200px;
	overflow:hidden;
	padding-bottom:10px;
	margin:8px 0 0 7px;
}

.calendar li{
	float:left;
	width:60px;
	height:60px;
	background: #424242;
	margin:0 5px 5px 0;
	color:#fff;
	text-align:center;
	cursor: pointer; 
	
}

.calendar li h2{
	padding-top:5px;
}

.calendar .text{
	background:#f1f1f1;
	padding:8px;
	color:#555;
	width:178px;
	margin-left:8px;
}

.calendar .active{
	color:#e84a7e;
}

.text p {
	font-size:15px;
}
.calendar .text h2{
	font-size:15px;
}